{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/records/record-detail.css' %}"
/>
<script defer src="{% static 'js/record-detail.js' %}"></script>
{% endblock %}

{% block content %}

<section class="cat-container">
  <div class="cat-img">
    <img 
      src="{% static 'images/sk8r-boi-cat.svg' %}" 
      alt="A skater boy cat"
    >
  </div>
  <div class="cat-details">
    <h1>{{ record.name }}</h1>
    <h2>by: {{ record.artist }}</h2>
    <h2>released in: {{ record.release_year }}</h2>
    <p>{{ record.description }}</p>
    <div class='cat-actions'>
      <a href="{% url 'records_update' record.id %}" class="btn warn">Edit</a>
      <a href="{% url 'records_delete' record.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>
<div class="feedings-toy-container">
  <section class="feedings">
    <div class="subsection-title">
      <h2>Last Spun</h2>
      <img 
        src="{% static 'images/cat-cone.svg' %}" 
        alt="An ice cream cone cat"
      />
      <img 
        src="{% static 'images/cat-onigiri.svg' %}"
        alt="A cat as onigiri"
      />
      <img 
        src="{% static 'images/kitty-kabob.svg' %}" 
        alt="A kabob of kittens"
      />
    </div>
    <h3>Add a Listening Session</h3>
    <form
      action="{% url 'add_spun' record.id %}"
      method="POST"
      class="subsection-content"
    >
      {% if record.spun_for_today %}
        <p class="fed">You spun {{record.name}}!</p>
      {% else %}
        <p class="unfed">You haven't spun {{record.name}} today</p>
      {% endif %}
      {% csrf_token %}
      {{ spun_form.as_p }}
      <button type="submit" class="btn submit">Add Session</button>
    </form>
    <h3>Past Sessions</h3>
    {% if record.spun_set.all.count %}
      <table>
        <thead>
          <tr><th>Date</th><th>Listened To</th></tr>
        </thead>
        <tbody>
          {% for spun in record.spun_set.all %}
            <tr>
              <td>{{spun.date}}</td>
              <td>{{spun.get_listened_display}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div class="subsection-content">
        <p>{{record.name}} has never been spun! You should spend some time with it!</p>
      </div>
    {% endif %}
  </section>
</div>

{% endblock %}