{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/records/record-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Record List</h1>
</section>

<section class="card-container">
  {% for record in records %}
    <div class="card">
      <a href="{% url 'records_detail' record.id %}">
        <div class="card-content">
          <div class="card-img-container">
            <img 
              src="{% static 'images/sk8r-boi-cat.svg' %}" 
              alt="A skater boy cat"
            >
          </div>
          <h2 class="card-title">{{ record.name }}</h2>
            <p>by {{ record.artist }}</p>
            <p>released in: {{ record.release_year }}</p>
          <p><small>{{ record.description }}</small></p>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}